.container {
  max-width: 100%;
  margin: 0px auto;
}

#uploadForm {
  background: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
}

input[type="file"] {
  padding: 15px;
  border: 2px dashed #de5e04;
  background: white;
  margin: 15px 0;
}

#message {
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}

#message.success {
  background: #d4edda;
  color: #155724;
}

#message.error {
  background: #f8d7da;
  color: #721c24;
}